name: Python package testing and generate coverage report

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Create python environment and install dependencies
      run: ./scripts/install.sh
    - name: Lint with flake8
      run: |
        venv/bin/pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        venv/bin/flake8 flake8_kwargs_spaces.py --count --show-source --statistics
        venv/bin/flake8 tests/ --count --show-source --statistics
        venv/bin/flake8 setup.py --count --show-source --statistics
    - name: Test with pytest
      run: ./scripts/test.sh
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
